doctype html
html(lang="en")
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Nepatours | #{title}

  body
    include _header

    block content
      h1 this is placeholder block

    include _footer

    script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')
    script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')
    block footer
